<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with Static Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
    <script src="{{ url_for('static', filename='pointScript.js') }}" defer></script>
</head>
<body>
    <div id="display"></div>
    <div class="crud">
        <button id="create_circle">Create a circle</button>
        <input type="text" id="create_circle_text" placeholder="cx, cy, r"><br>
        <button id="all_circles">Get All circles :</button><br>
        <button id="get_circle">Get circle: </button>
        <input type="text" id="get_circle_text" placeholder="Enter circle ID"><br>
        <button id="update_circle">Update a circle</button>
        <input type="text" id="update_circle_text" placeholder="id, cx, cy, r"><br>
        <button id="delete_circle">Delete circle</button>
        <input type="text" id="delete_circle_text" placeholder="Enter circle ID"><br>
        <button id="delete_all_circle">Delete all circle</button>
    </div>
    <div class="id_all">
        <input type="text" id="all_ids" size="500">
    </div>
    <div class="svg-container">
        <svg id="drawing" height="1000" width="1000" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    <!-- <script src="pointerScript.js"></script> -->
</body>
</html>
